#python 3.12 (python 3.11 and 3.10 need to find suitable version for that)
pandas == 2.2.3
scikit-learn == 1.5.2
numpy == 1.26.4 #2.0.2
matplotlib == 3.9.2
seaborn == 0.13.2
joblib == 1.4.2
tensorflow == 2.18.0 #2.17.0
keras == 3.6.0
xgboost == 2.1.2
torch == 2.5.1
gensim == 4.3.3