# ignore all files in uploads folder
web/uploads/**

# ignore all files in instance folder
web/instance/**

web/venv/**

diagrams/venv/**

**/venv/**

machine-learning/dataset/**/*.json

machine-learning/results/**

# ignore all __pycache__ folders (recursive)
**/__pycache__/**